// #stdImg

// {
//     $stdImgW : 100px;
//     $stdImgH : 100px;
// }
#conLinkImg
{
    $stdImgW : 50px;
    $stdImgH : 50px;


    #googleLinkImg
    {
        width : $stdImgW;
        height: $stdImgH;
    }
    #naverLinkImg
    {
        width : $stdImgW;
        height: $stdImgH;
    }

}
body
{
    font-family: Arial, sans-serif;
    margin : 20px;
}

h1
{
    color : #3498db;
}

p
{

    color :#333;
}

