
:root 
{
    --stdImg : 50px;
    --stdImg : 50px;
}

#linkImg
{
    
}

#googleLinkImg
{
    width : var(--linkImgW);
    height: var(--linkImgH);
}

body
{
    font-family: Arial, sans-serif;
    margin : 20px;
}

h1
{
    color : #3498db;
}

p
{

    color :#333;
}

